.social-join
    button.social-join--github
         a(href=routes.gitHub)
            span
                i.fab.fa-github 
            | 깃허브 아이디 가입하기
    button.social-join--facebook
        span 
            i.fab.fa-facebook
        | 페이스북 아이디 가입하기
    button.social-join--google
        span 
            i.fab.fa-google
        | 구글 아이디 가입하기