.social-join
    button.social-join--github
         a(href=routes.gitHub)
            span
                i.fab.fa-github 
            | 깃허브 아이디 가입하기
    button.social-join--kakao
        a(href=routes.kakao)
            span 
                i.fas.fa-comment
            | 카카오 아이디 가입하기
    button.social-join--google
        span 
            i.fab.fa-google
        | 구글 아이디 가입하기