doctype html
html
    head
        title Hello! WeTube
    body
        header
            h1 WeTube
        main
            block content
        footer
            span &copy; WeTube 

//- 모든 페이지의 토대