extends ../layouts/main
include ../mixins/videoBlock

block content
    .videos 
        each video in videos   
            +videoBlock({
                id:video.id,
                title: video.title,
                views:video.views,
                videoFile:video.fileUrl
            })    
        //-MongoDb에 들어가기전 작업
